$lovish-red: #a52422 
$lovish-yellow:#E6AF2E
    
body
    background-color: white
    font-family: Georgia, 'Times New Roman', Times, serif
    margin: 0 auto
    overflow-x: hidden

.container 
    width: 1000px
    margin: 0 auto

.header 
    .navbar-brand
        color: $lovish-red
    img
        height: 50px
        width: 50px

.card 
    cursor: pointer
    width: 18rem
    margin-bottom: 20px
    .card-title 
        color: $lovish-red

.crea, .modal-header
    color: $lovish-red

.toast 
    bottom: 20px
    right: 20px
    z-index: 5
    .toast-header
        background-color: $lovish-red
        color: white

.btn-secondary
    background-color: $lovish-yellow
    color: black